
* {
	margin: 0;
	padding: 0;
	font-family: calibri;
	text-decoration: none;
}

.container {
	width: 1650PX;
	margin: auto;
}
/*----- navigasi -----*/

.logo a {
	padding: 10px 0;
	font-size: 45px;
	font-weight: bold;
	color: #d268ca;
	letter-spacing: -4px;
	float: left;
}

.menu {
	float: right;
}

nav {
	width: 100%;
	margin: auto;
	display: flex;
	line-height: 80px;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: #fff;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li{
	float: left;
}

nav ul li a{
	color: black;
	font-weight: bold;
	text-align: center;
	padding: 0 16px;
	text-decoration: none;
}

nav ul li a:hover{
	text-decoration: underline;
}

a.tombol-ungu{
	background-color: #d268ca;
	border-radius: 10px;
	margin-top: 20px;
	padding: 10px 20px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
}

.tombol-ungu:hover{
	background-color: #333;
	text-decoration: none;
}
/*--------------------------*/

/*------ section home ------*/

section{
	margin: auto;
	display: flex;
	margin-bottom: 50px;
}
#home img{
	width: 50%;
}

.kolom{
	margin: 50px 0;
}

.kolom .deskripsi{
	font-size: 20px;
	font-weight: bold;
	color: #333;
}

h2{
	font-size: 50px;
	font-weight: bold;
	color: #333;
	width: 100%;
}

.tombol-hitam{
	background-color: #333;
	border-radius: 10px;
	margin-top: 20px;
	padding: 10px 20px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
}

.tombol-hitam:hover{
	background-color: #d268ca;
	text-decoration: none;
}

p{
	margin: 20px 0;
}
/*--------------------------*/

/*------ section tutors-----*/


#courses img{
	width: 50%;
}
/*--------------------------*/

/*------ section tutors-----*/

.tengah{
	text-align: center;
	width: 100%;
}

.kolom-tutors{
	width: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.list-tutors{
	width: 20%;
	margin: auto;
}

.list-tutors img{
	width: 80%;
	border-radius: 50%;
}

.list-tutors p{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #333;
}

/*--------------------------------*/

/*-------- section contact--------*/
#contact{
	background-color: #eee;
	padding: 50px 0;
}

.footer{
	width: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.kolom-footer{
	width: 15%;
	margin: 0 auto;
}

.kolom-footer h3{
	font-size: 20px;
	font-weight: bold;
	color: #333;
	width: 100%;
	line-height: 50px;
	margin-bottom: 20px;
}

#copyright{
	text-align: center;
	padding: 70px 0;
}

#home, #courses, #tutors, #partners{
	padding-top: 60px;
}

/*------------------------*/

/*---------*/
@media screen and (max-width: 991px) {
	.container{
		width: 90%;
	}

	.logo a{
		display: block;
		width: 100%;
		text-align: center;
	}

	nav .menu{
		width: 100%;
		margin: 0;
	}

	nav .menu ul{
		text-align: center;
		margin: auto;
		line-height: 50px;
	}

	nav .menu ul li{
		display: inline-block;
		float: nones;
	}

	section{
		display: block;
	}

	section img{
		display: block;
		width: 100%;
		height: auto;
	}

	.kolom-tutors{
		width: 100%;
		margin: auto;
		display: block;
	}

	.list-tutors{
		width: 50%;
		margin: auto;
	}
	.list-tutors img{
		margin: auto;
	}

	.kolom-footer{
		width: 50%;
	}
}